table {
    border: 3px solid rgb(224, 186, 36);
}

.email {
    color: red;
}

.emptyMsg {
    margin-left: 10px;
    color: red;
    font-style: italic;
}

.parent {
    padding: 70px;
}

.tablediv {
    width: 100%;
    padding: 20px;
}

textarea {
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #fffde7
}

button {
    background-color: #f57f17;
    border: none;
    color: white;
    text-align: center;
    margin: 4px 2px;
    padding: 5px;
    cursor: pointer;
}

.action {
    font-size: 12px;
    padding: 10px 20px;
}

img {
    height: 100px;
    width: 80px;
}

.reviewBox {
    padding: 20px;
    background-color: #fff9c4;
}